body{
	background-color:white;
}
h1{
color:red;
background-color:black;
text-align:center;
font-family:Cursive;
font-size:50px;

}
tvv-item{
	position:relative;
	display: inline-block;
	width:120px;
	height:125px;
	margin:3px;
	padding:10px;
	border: 1px solid rgb(0,200,200);
	background:White;
	box-shadow:2px 2px 5px #000;
	overflow:hidden;
	border-radius:4px;
}
